</body>
<footer>
    <div class="social">
        <a href="https://www.instagram.com/deactive_13__"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/sohal.rahaman.338"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/Sohal__Rahaman"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/sohal-rahaman-540941245/"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
    </div>
    <h4>@CopyRight from 2022</h4>
</footer>
</html>